.footer__attribution {
  font-size: 11px;
  text-align: center;
  color: var(--clr-very-dark-cyan);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}

.footer__attribution a {
  color: var(--clr-bright-orange);
  font-family: "Lexend Deca", sans-serif;
  font-weight: 700;
}
